minigamesDirectory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Minigame">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mg4p">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="game">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="altname" type="xs:string" />
                    <xs:element name="thumbnail" type="xs:string" />
                    <xs:element minOccurs="0" name="altthumbnail" type="xs:string" />
                    <xs:element name="scene" type="xs:string" />
                    <xs:element name="multiwin" type="xs:boolean" />
                    <xs:element name="collections">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="collection" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mg2v2">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="game">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="altname" type="xs:string" />
                    <xs:element name="thumbnail" type="xs:string" />
                    <xs:element minOccurs="0" name="altthumbnail" type="xs:string" />
                    <xs:element name="scene" type="xs:string" />
                    <xs:element name="multiwin" type="xs:boolean" />
                    <xs:element name="collections">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="collection" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mg1v3">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="game">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element minOccurs="0" name="altname" type="xs:string" />
                    <xs:element name="thumbnail" type="xs:string" />
                    <xs:element minOccurs="0" name="altthumbnail" type="xs:string" />
                    <xs:element name="scene" type="xs:string" />
                    <xs:element name="multiwin" type="xs:boolean" />
                    <xs:element name="collections">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="collection" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>